    /* top/right/bottom/left */
html {
    /* a cada 1rem será considerada 10px */
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
* {
    margin: 0;
    padding: 0
}
body, html {height: 100%}
body {
   background-color: black;
   background-image: url('../MHwpp2.PNG');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed
}
.container {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column
}
.bloco {
    width: 60vw;
    background-color: rgba(14, 14, 14, 0.966);
    border-radius: 7px;
    padding: 10px
}
.cont {
    font-weight: 'bold';
    align-items: 'center';
    padding-left: 10px;
    padding-top: 50px;
    color: rgb(173, 173, 173);
    font-size: 2rem
}
table {
    border-collapse: collapse
}
th {
    width: 50px;
    font-weight: bold;
    color: rgb(235, 235, 235);
    padding: 5px 0px 5px 10px;
    text-align: left;
    font-size: 1.5rem;
    white-space: nowrap
}
td {
    border: 1px solid #555555;
    padding: 10px;
    font-size: 1.3rem;
    color: rgb(199, 199, 199);
    text-align: left;
    background-color: rgba(8, 8, 8, 0.514)
}
select {
    color: forestgreen
}
input {
    color: forestgreen
}
hr {
    margin-bottom: 5px
}
#menu {
    background-color: rgb(19, 19, 19);
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    height: 56px;
    display: flex
}
#menu ul {
    width: 100%;
    display: flex;
    position: relative;
    right: 50px;
    justify-content: center;
    list-style: none
}
#menu ul li {
    display: flex;
    align-items: center;
}
#menu ul li a {
    padding-right: 45px;
    position: relative;
    display: inline-block;
    color: gainsboro;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none
}
#menu ul li a:hover {
    color: forestgreen
}
.dataTables_length {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.9px
}
.dataTables_filter {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.9px
} 
.logoMarca {
    width: 150px;
    position: relative;
    left: -103px
}
.items {
    width: 40px;   
    height: 43px; 
}
.items2 {
    padding-left: 4px;
    width: 32px;   
    height: 41px
}
.footer {
    margin-top: 50px;
    background-color: rgb(15, 15, 15);
    position: relative;
    bottom: 0;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: flex-end
}
.rodape {
    height: 55px;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.473);
    display: flex;
    justify-content: center;
    align-items: center
}
.copright {
    color: rgb(161, 161, 161);
    font-size: 1.3rem
}
.logoMHFU {
    width: 150px;
    height: 83px
}
.gameTopo {
    display: flex;
    flex-direction: row
}
@media (max-width: 700px)  {
    html {
        font-size: 50%
    }
}
